*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:Georgia,"Times New Roman",serif;

background:#0e0f12;

color:#e5e7eb;

display:flex;

min-height:100vh;

}



/* SIDEBAR */

.sidebar{

width:280px;

background:#17181c;

border-right:1px solid #2a2a30;

position:fixed;

height:100vh;

padding:35px 25px;

}


.logo h2{

color:white;

letter-spacing:2px;

font-weight:normal;

}


.logo p{

color:#9ca3af;

font-size:14px;

font-style:italic;

margin-top:8px;

}


nav{

display:flex;

flex-direction:column;

gap:12px;

margin-top:40px;

}


nav a{

color:#cbd5e1;

text-decoration:none;

padding:14px;

border-radius:6px;

}


nav a:hover,
nav .active{

background:#b08b41;

color:white;

}



/* MAIN */


.main{

margin-left:280px;

padding:45px;

width:calc(100% - 280px);

}


header h1{

font-size:42px;

font-weight:normal;

color:white;

}


header p{

margin-top:10px;

color:#cbd5e1;

font-size:18px;

}




/* CARDS */


.scripture,
.card,
.prayer-card,
.answered{


background:rgba(26,26,30,.85);

border:1px solid #2a2a30;

border-radius:10px;

padding:30px;

margin:30px 0;

}



.scripture{

border-left:5px solid #b08b41;

}



blockquote{

font-size:22px;

font-style:italic;

line-height:1.8;

}




h2{

color:white;

font-weight:normal;

margin-bottom:20px;

}




/* FORM */


label{

display:block;

margin-top:15px;

color:#cbd5e1;

}



input,
textarea{

width:100%;

padding:15px;

margin-top:8px;

background:#0e0f12;

border:1px solid #2a2a30;

color:white;

border-radius:5px;

}



textarea{

height:150px;

}



button{

margin-top:20px;

padding:14px 30px;

background:#b08b41;

border:none;

color:white;

cursor:pointer;

border-radius:5px;

}




.prayer-list{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.prayer-card span{

color:#b08b41;

}



@media(max-width:900px){


.sidebar{

position:relative;

width:100%;

height:auto;

}


.main{

margin-left:0;

width:100%;

}


body{

display:block;

}


}